:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#3ef83e
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
figure.snip1440 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.4em;
  background-color: #000000;
}
figure.snip1440 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1440 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1440 figcaption {
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
}
figure.snip1440 h3 {
  letter-spacing: -1px;
  margin: 0;
  font-weight: 600;
}
figure.snip1440:after {
  border: 8px solid #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  bottom: 50%;
  left: 20px;
  right: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
figure.snip1440 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1440:hover img,
figure.snip1440.hover img {
  opacity: 0.2;
}
figure.snip1440:hover figcaption,
figure.snip1440.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip1440:hover:after,
figure.snip1440.hover:after {
  top: 20px;
  bottom: 20px;
  opacity: 0.9;
}

